/* .alignToCenter{
    
   
    align-items: center;
   border-style : solid;
} */

.centerDiv{
    /* background-color: #C5C9B8;
    width: 100%;
    color: #333333;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none; */
    border-style: solid;
    border-width: medium;
    padding-top: 10px;
    padding-left:30%;
    padding-bottom: 10px;
}

.insideCalculator{
    border-style: solid;
    border-width: medium;
    padding-left:12px;
    padding-top: 10px;
    width: 25%;
}